
ezcopy/.idea/compiler.xml

ezcopy/.idea/copyright/profiles_settings.xml

ezcopy/.idea/vcs.xml

ezcopy/.idea/gradle.xml

ezcopy/.idea/misc.xml

ezcopy/.idea/modules.xml

ezcopy/.idea/runConfigurations.xml
